.left{
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 10%;
    div{
        width: 100%;
        margin: 1rem 0;
        padding-top: 100%;
        text-align: center;
        background-position:center;
        background-repeat: no-repeat;
    }
    .profile{
        background-image: url('../../../src/assert/imgs/profile.png');
        background-size: contain;
    }
    .like{
        background-image: url('../../../src/assert/imgs/like.png');
        background-size: contain;
    }
    .liked{
        background-image: url('../../../src/assert/imgs/liked.png');
        background-size: contain;
    }
    .comment{
        width: 100%;
        padding-top: 100%;
        text-align: center;
        background-position:center;
        background-repeat: no-repeat;
        background-image: url('../../../src/assert/imgs/comment.png');
        background-size: contain;
    }
    .share{
        background-image: url('../../../src/assert/imgs/share.png');
        background-size: contain;
    }
    .music{
        background-image: url('../../../src/assert/imgs/music.png');
        background-size: contain;
    }
}
